body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    size: 36px;

}

h1 {
    display: block;
    margin:auto;
    width: 250px;
    margin-bottom: 50px;
}

div {
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: white;
}

.container {
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: darksalmon;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 70% 1fr;

    grid-gap: 10px 20px;

    justify-items: center;
    align-items: center;

    grid-template-areas: 
    "header header header"
    "ads content sidebar"
    "footer footer footer";
}


#item-1 {
    background-color: darkorchid;
    grid-area: herder;
    /*justify-self: center;
    align-self: center; */
}
#item-2 {
    background-color: orange;
    grid-area: ads;
}
#item-3 {
    background-color: orangered;
    grid-area: content;
}
#item-4 {
    background-color: purple;
    grid-area: sidebar;
}
#item-5 {
    background-color: blue;
    grid-area: footer;
    /*
    grid-area: Footer;
    grid-column: 2/4;
    */
}