html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
    height: 450px;
    border: 80px solid green;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.h1 {
    background: darkgray;
    border: darkgray;
    content: center;
}
